---
# This task contains common plays that will be run on all nodes

- name: upgrade all packages (DNF)
  become: yes
  dnf:
      name: "*"
      state: latest
  when: ansible_facts['distribution'] == "Fedora"

- name: upgrade all packages (YUM)
  become: yes
  yum:
      name: "*"
      state: latest
  when: (ansible_facts['distribution'] == "CentOS" or
         ansible_facts['distribution'] == "RedHat")

- name: update all apt repositories (APT)
  become: yes
  apt:
      update_cache: yes
      force_apt_get: yes
      cache_valid_time: 3600
  when: (ansible_facts['distribution'] == "Ubuntu" or
         ansible_facts['distribution'] == "Debian")

- name: update all packages (APT)
  become: yes
  apt:
      upgrade: dist
  when: (ansible_facts['distribution'] == "Ubuntu" or
         ansible_facts['distribution'] == "Debian")

- name: install packages (nmap, git, zsh, flatpak)
  become: yes
  package:
    name:
        - nmap
        - git
        - git-extras
        - zsh
        - flatpak
    state: latest

- name: install docker (all)
  become: yes
  package:
    name:
      - docker
    state: latest
  when: (ansible_facts['distribution'] != "Fedora")

- name: install docker, ripgrep (Fedora)
  become: yes
  package:
    name:
        - docker-ce
        - docker-ce-cli
        - docker-ce-rootless-extras
        - docker-scan-plugin
        - ripgrep
    state: latest
  when: (ansible_facts['distribution'] == "Fedora")

- name: add flatpak repositories
  flatpak_remote:
      name: flathub
      state: present
      flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
      method: user

# Set up aliases
- name: set up aliases
  copy:
      src: files/aliases
      dest: ~/.zsh_aliases
      mode: 0644

- name: change shell to zsh (Amazon Linux)
  lineinfile:
      path: ~/.bashrc
      regexp: '^export SHELL'
      line: export SHELL=$(which zsh); [ -n "$SSH_TTY" ] && exec $SHELL;
  when: ansible_facts['distribution'] == "Amazon"

- name: change shell to zsh
  become: yes
  user:
      name: "{{ current_user }}"
      shell: /bin/zsh
  when: ansible_facts['distribution'] != "Amazon"

- name: ensure .zsh.d folder exists
  file:
      path: ~/.zsh.d
      state: directory
