---
# This task contains common plays that will be run on all nodes
- name: install packages (nmap, git, zsh, flatpak, ripgrep)
  become: yes
  package:
    name:
        - nmap
        - git
        - git-extras
        - zsh
        - flatpak
        - ripgrep
    state: latest

- name: add flatpak repositories
  flatpak_remote:
      name: flathub
      state: present
      flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
      method: user

# Set up aliases
- name: set up aliases
  copy:
      src: files/aliases
      dest: ~/.zsh_aliases
      mode: 0644

- name: change shell to zsh (Amazon Linux)
  lineinfile:
      path: ~/.bashrc
      regexp: '^export SHELL'
      line: export SHELL=$(which zsh); [ -n "$SSH_TTY" ] && exec $SHELL;
  when: ansible_facts['distribution'] == "Amazon"

- name: change shell to zsh
  become: yes
  user:
      name: "{{ current_user }}"
      shell: /bin/zsh
  when: ansible_facts['distribution'] != "Amazon"

- name: ensure .zsh.d folder exists
  file:
      path: ~/.zsh.d
      state: directory

- name: disable coredumps (via sysctl)
  become: yes
  ansible.posix.sysctl:
      name: fs.suid_dumpable
      value: '0'
      sysctl_file: /etc/sysctl.d/99-sysctl.conf
      reload: yes

- name: disable coredumps (via limits)
  become: yes
  community.general.pam_limits:
    domain: '*'
    limit_type: hard
    limit_item: core
    value: 0

- name: increase max_user_watches
  become: yes
  ansible.posix.sysctl:
      name: fs.inotify.max_user_watches
      value: '8524288'
      sysctl_file: /etc/sysctl.d/99-sysctl.conf
      reload: yes

- name: configure common cron jobs
  include_role:
    name: common
    tasks_from: cron
