---
- name: install Java 11 (Fedora)
  become: yes
  package:
    name: java-11-openjdk-devel
    state: latest
  when: ansible_pkg_mgr in ('dnf')

- name: install Java 11 (Ubuntu)
  become: yes
  package:
    name: openjdk-11-jdk
    state: latest
  when: ansible_pkg_mgr in ('apt')

- name: install maven
  become: yes
  unarchive:
      src: https://www.apache.org/dist/maven/maven-3/{{ apache_maven_version }}/binaries/apache-maven-{{ apache_maven_version }}-bin.tar.gz
      dest: /opt
      remote_src: yes
  when: "'$(which mvn)' is not file"

- name: install gradle
  become: yes
  unarchive:
      src: https://downloads.gradle-dn.com/distributions/gradle-{{ gradle_version }}-bin.zip
      dest: /opt
      remote_src: yes
  when: "'$(which gradle)' is not file"

#- name: clone eclipse.jdt.ls
#  git:
#      repo: https://github.com/eclipse/eclipse.jdt.ls
#      dest: ~/dev/eclipse/eclipse.jdt.ls
#
#- name: build eclipse.jdt.ls
#  command: /opt/apache-maven-{{ apache_maven_version }}/bin/mvn clean install -DskipTests
#  args:
#      chdir: ~/dev/eclipse/eclipse.jdt.ls
#
#- name: remove possible incompatible eclipse.jdt.ls state
#  file:
#      path: ~/.local/share/eclipse
#      state: absent
#
#- name: configure Java LSP
#  become: yes
#  copy:
#      src: files/nvim/java-lsp.sh
#      dest: /usr/local/bin/java-lsp.sh
#      mode: 0755
