---
- name: install dbeaver
  include_role:
    name: dev
    tasks_from: dbeaver
  when:
      - ansible_facts['distribution'] == "Debian"
      - ansible_lsb['id'] == "Rasbpian"

- name: install docker
  include_role:
    name: dev
    tasks_from: docker

- name: set up ZSH
  include_role:
    name: dev
    tasks_from: zsh

- name: set up Neovim
  include_role:
    name: dev
    tasks_from: neovim

- name: set up Javascript dev environment
  include_role:
    name: dev
    tasks_from: javascript

- name: set up Java dev environment
  include_role:
    name: dev 
    tasks_from: java

- name: set up Go dev environment
  include_role:
    name: dev 
    tasks_from: go
